@media(max-width: 991px){
    .header-logo{
        width: 150px;
    }
    a.nav-link{
        font-size: 15px;
    }
    
}
@media(max-width: 1200px){
    
    a.nav-link{
        font-size: 165x;
    }
    ul{
  margin-left: 0px;
    }
    
}