
body{
    background-color: #e4e4e4;
}

@font-face {
    font-family: "candara";
    src: url("../fonts/Candara.ttf");
  }
  @font-face {
    font-family: "conthrax-sb.otf";
    src: url("../fonts/conthrax-sb.otf");
  }


.navbar {
    margin: 30px;
   
    
  

    
}
.navbar-toggler{
    background-image: linear-gradient(#fbd98a , #F7EF8A, #D2AC47, #EDC967);
}

ul{
    
    
    
    margin-left: 150px;
    
    
}
a.nav-link{
    font-size: 18px;
    
}

.navbar-brand{
   
}
.header-logo{
width: 200px;
}

.foote-logo{
    width: 150px;
}
footer{
    
    background-color: #0E253A;
}
.bglight{
  
    
    
}
p{
    font-family: "candara", sans-serif;
    color:  #0E253A;
}
h2{
    
    font-family: "conthrax-sb.otf", sans-serif;

}
h5{
    text-transform: uppercase;
    font-family: "conthrax-sb.otf", sans-serif;
}
.hot-img{
    width: 300px;
    margin: 10px;

}
.hot-pic-container{
    
    width: 100%;
    
}
aside{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.carousel-item{
    width: 100%;
}
  
  
  .typeJsWrapper{
    max-width: 100%;
    height: auto;
    position: relative;

  }
  
    .container-type{
        position: absolute;
        top: 0;
        padding: 20px;
    }
  